.icon{
    background: url('http://assets.over-blog-kiwi.com/t/images/social-24.png') no-repeat top left;
    display: block;
    height: 24px;
    width: 24px;
}
.OB{
    background-position: 0 0;
}
.FB, .FP{
    background-position: 0 -48px;
}
.TW{
    background-position: 0 -96px;
}
.FS{
    background-position: 0 -144px;
}
.IG{
    background-position: 0 -192px;
}
.YT{
    background-position: 0 -240px;
}
.FL{
    background-position: 0 -288px;
}
.TR{
    background-position: 0 -336px;
}
.RS{
    background-position: 0 -384px;
}
.PT{
    background-position: 0 -432px;
}
.GP{
    background-position: 0 -480px;
}
.LI{
    background-position: 0 -528px;
}