<div id="cl_1_0" class="cl">
    <div class="column_content">
        {# Widgets #}
        
        {$_sidebar1}

        {# end sidebar #}
    </div>
    <div class="clear"></div>
</div>

<div id="cl_1_1" class="cl">
    <div class="column_content">
        {# Widgets #}

        {$_sidebar2}

        {# end sidebar #}
    </div>
    <div class="clear"></div>
</div>

<div id="cl_1_2" class="cl">
    <div class="column_content">
        {$_posts}
    </div>
</div>
