<!DOCTYPE html>
<html lang="fr">
<head>
    {$_header}
</head>
<body>

<div id="global">

    {$_line0}

    <div id="ln_1" class="ln">
        {$_line1}
        <div class="clear"></div>
    </div>

    {$_line2}
</div>

{$_legals}

</body>
</html>
